<html>
    <head>
        <title>Working with models</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>    
        <script>
        
        (function(){
            var name= "myApp",
                requires = [],
                myApp = null;
            
            myApp =angular.module(name, requires);
            
            myApp.controller("AppCtrl", function($scope){
                $scope.data={};
            });
            
        }());
        </script>
    </head>
    <body ng-app="myApp" ng-controller="AppCtrl">
        <div ng-repeat="channel in ['None', 'Star TV', 'Star Worlds']">
            <input type="radio" name="leisure" value="{{channel}}"
                   ng-model="data.whichChannel" ng-checked="$first">{{channel}}
        </div>
        
        <div ng-switch on="data.whichChannel">
            <div ng-switch-when="Star TV">
                You are watching Star TV
            </div>
            <div ng-switch-when="Star Worlds">
                You are watching Star Worlds
            </div>
            <div ng-switch-default>
                You are watching nothing
            </div>
                        


        </div>
    </body>
</html>
