@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <img src="~/images/forestpath.jpg" class="img-responsive" />
        <div class="col-md-6 panel panel-default"><h2>Auckland University of Contoso</h2></div>
        <div class="col-md-6 panel panel-default"><h4>Where Learning is an adventure</h4></div>
        
       
        

        
 

	@*<div class="container">
		<ul id="scene" class="scene">
		  <li class="layer" data-depth="0.00">
			<div class="background"></div>
		  </li>
		  
		  <li class="layer" data-depth="0.60">
			<div class="kurama"><img src="images/kurama.png"></div>
		  </li>
		  
		  <li class="layer" data-depth="0.40" data-invert-y="false">
		  <div class="landscape"><img src="images/landscape.png" /></div>
		  </li>
		  
		  <li class="layer" data-depth="0.60">
			<div class="grass"><img src="images/grass.png" /></div>
		  </li>
		  
		  <li class="layer" data-depth="1.20">
			<div class="obito"><img src="images/obito.png"></div>
		  </li>
		  
		  <li class="layer" data-depth="1.00">
		  <div class="minato"><img src="images/minato.png"></div>
		  </li>
		  
		  <li class="layer" data-depth="2.30">
			<div class="leaves"><img src="images/leaves.png"></div>
		  </li>
		</ul>
	</div>*@
</div>
    <link href="~/Content/Adventure.css" rel="stylesheet" />
    <script src="~/Scripts/Adventure.js"></script>