@{
    var total = 0;
    var totalMessage = "";
    if (IsPost)
    {

        // Retrieve the numbers that the user entered.
        var num1 = Request["text1"];
        var num2 = Request["text2"];

        // Convert the entered strings into integers numbers and add.
        total = total+5;
        totalMessage = "Total = " + total;
    }
}

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Experimenting with MVCs</h1>
    <p class="lead">This is your sandbox, play around, do your thing, dont worry about breaking stuff</p>
    <p><a href="http://asp.net" class="btn btn-danger btn-lg">Live Dangerously &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-12">
        <h2>Play With Me</h2>
        <p>
            MVC is a fun tool, the more you play with it the more of a friend it will become to you
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div>
        <p>Enter two whole numbers and then click <strong>Add</strong>.</p>
        <form action="" method="post">
            <p>
                <label for="text1">First Number:</label>
                <input type="text" name="text1" />
            </p>
            <p>
                <label for="text2">Second Number:</label>
                <input type="text" name="text2" />
            </p>
            <p><input type="submit" value="Add" /></p>
        </form>

        <p>@totalMessage</p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>